body{
  background-color: var(--bs-white);
  height: 100%;
  overflow: auto !important;
  padding-right:0 !important;
}
#app{
  height: 100%;
  overflow: hidden;
}

main{
  min-height: $default_main_height;
  flex: 1 0 auto;
}

.home-banner{
  height: auto;
  min-height: inherit;
}
.home-banner .banner-section-text {
  margin-top: 6rem;
  padding: 0;
  padding-left: 8rem;
  width: 50%;
}
.device-banner {
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0;
  color: #ffffff;
  text-align: center;
}
.home-banner .banner-section-text h1 {
  font-size: 62px;
  font-weight: normal;
}

.home-banner .banner-section-text p {
  font-size: 62px;
  font-weight: bold;
}

.login-image{
  background: url(/assets/front/images/backgrounds/login_side_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.login-height{
 min-height: $secondary_page_height;
}

.login-center{
  position: absolute;
    width: 50%;
    margin: inherit;
}

.login-center h1{
  color: #2d3e97;
  font-size: 58px;
  text-align: center;
  margin-bottom: 0.1rem;
  font-weight: 600;
}

.login-center p{
  font-size: 28px;
  text-align: center;
  margin-bottom: 0.1rem;
}

.page-height{
  min-height: $default_page_height;
}

.signin-icon {
  display: block;
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
}

.signin-avatar {
  background-image: url(/assets/front/images/backgrounds/platcorp_avatar.png);
  margin-left: auto;
  margin-right: auto;
}

.btn-signin-google{
  background:#ffffff;
  border:2px solid #ffffff;
  color: #1824A9;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);;
  text-align:left;
  padding: 0.1rem 1rem;
  padding-top: 0.5rem;
  width:inherit;
  --bs-btn-border-radius: 0rem;
 }

 .btn.btn-signin-google:hover{
  border:2px solid #1824A9;
 }

 .btn-signin-usercode{
  background:#F15C23;
  border:2px solid #F15C23;
  color: #ffffff;
  text-align:left;
  padding: 0rem 1rem;
  padding-top: 0.5rem;
  width:inherit;
  --bs-btn-border-radius: 0rem;
 }

 .btn-signin-usercode:hover{
  background:#F15C23;
  border:2px solid #F15C23;
 }

 
 .btn-signin-usercode p{
  margin-bottom: 0.5rem;
  text-align: center;
  color:#fff !important;
 }
 
 .signin-button-icon {
     display: block;
     width: 25px;
     height: 25px;
     background-size: contain;
     background-repeat: no-repeat;
     display: inline-flex;
 }
.signin-google-icon {
     background-image: url(/assets/front/images/svgs/Google.svg);
     margin-left: auto;
     margin-right: auto;
}
.signin-microsoft-icon {
  background-image: url(/assets/front/images/svgs/Microsoft.svg);
  margin-left: auto;
  margin-right: auto;
}
.signin-usercode-icon {
  background-image: url(/assets/front/images/svgs/Avatar.svg);
  margin-left: auto;
  margin-right: auto;
}
 
.btn-signin-google p{
     display: inline-flex;
     margin-bottom: 0;
     text-align: center;
     position: absolute;
     margin-left: 57px;
     font-size: 18px;
 
}

.center{
  display: flex;
  justify-content: center;
}
.login-center-block{
  display: block;
  margin-left:24%;


}



.options-center .other-options{
  text-align: center;
  margin-top: 2rem;
  margin-bottom:1rem;
}

.form-login {
  margin-top: 2%;
}

.form-login .form-group {
  margin-bottom: 1rem;
}

.form-login .form-group label {
  color: $primary_color;
  font-size: 14px;
}

.form-login .form-group .form-control {
  background: #F2F2F2;
    border-radius: 0px;
    border: none;
    border: 1px solid #cecece;
}

.remember-me {
  margin-right: 13%;
}

.form-login .text-small {
  font-size: 14px !important;
}


.pass-view {
  position: absolute;
  right: 0;
  color: #888888;
  z-index: 3;
  padding: 0.7rem;
}

.alert-danger {
  color: #23245f;
  background-color: #fae1e6;
  border-top: 4px solid #ee4089;
  border-radius: unset;
}

.alert-dismissible {
  padding-right: 3.85rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

button.close {
  background-color: transparent;
  border: none;
}


.close {
  float: right;
  font-size: 16px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.profile-dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: auto;
  background-size: cover;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  position: absolute;
  width: 100%;
}

.nav-link {
  display: block;
  padding: 0.725rem;
    padding-right: 0.725rem;
    padding-left: 0.725rem;
  font-size: 16px;
}

.profile-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  font-size: 15px;
  clear: both;
  font-weight: 400;
  color: $secondary_color;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 230px;
  padding: 5px 0;
  margin: 2px 0 0;
    margin-top: 2px;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  background-clip: padding-box;
}

.dropdown-menu-arrow {
  top: -20px;
  left: 80%;
  width: 0;
  height: 0;
  position: absolute;
}

.dropdown-menu-end[data-bs-popper] {
  right: 3%;
  left: auto;
}

.profile-menu {
  max-width: 230px;
  margin-top: 10px;
  padding: 0;
  box-shadow: 4px 4px 8px #0000004d;
  border-radius: 0 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-bottom: 4px solid #282828;
  right:3%;
  left:auto;
 
}



.dropdown-menu-arrow:after, .dropdown-menu-arrow:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 12px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}

.dropdown-menu-arrow:before {
  bottom: -20px;
  right: -20px;
  border-bottom-color: #282828;
}

.dropdown-menu-arrow:after {
  bottom: -20px;
  right: -20px;
  border-bottom-color: #ffffff;
  opacity: 0.92;
}

#navbarSupportedContent li.nav-item {
  padding: 1.1rem 0.55rem;
}

#navbarSupportedContent li.nav-item.non-auth {
  padding: 0rem 0.55rem;
}


.jarallax{
  height: 350px;
}

.jarallax-img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.jarallax .content {
  justify-content: center;
}

.jarallax .content .wrap {
  width: 90%;
  padding-bottom: 10px;
  color: #000;
  margin: 0 auto;
  
}

.no-bold{
  font-weight: normal !important;
}

.course-filter{
 border:none;
}

.course-filter .form-control{
  padding:12px;
  border-radius: 0;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1.3em + 2px),
    calc(100% - 15px) calc(1.3em + 2px),
    calc(100% - 2.5em) 0.9em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.9em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.course-card {
  padding: 0 0.5px 20px;
  height: 100%;
}

.course-card article {
  min-height: 342px;
  max-height: 342px;

&.ratio-4-3{
    padding-top: 75%;
}
&.ratio-16-9{
    padding-top: 56.25%;
}
&.ratio-3-2{
    padding-top: 66.66%;
}
&.ratio-8-5{
    padding-top: 62.5%;
}
}

.course-card article {
  background: #fff 0 0 no-repeat padding-box;
   box-shadow: 4px 4px 8px #0000004d; 
  border: 1px solid #EBEBEB;
}

.course-card article .thumbnail {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  height: auto;
}

.course-card article .thumbnail img {
  min-width: 280px;
  min-height: 200px;
  width: -webkit-fill-available;
  height: auto;
  object-fit: fill;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}
.course-card article .thumbnail .overlay {
  position: absolute;
  width: 100%;
  height: unset;
  top: 30%;
  left: 0;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.course-card article .thumbnail .overlay .overlay-inside-right {
  position: absolute;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: none;
  height: 80px;
  width: 80px;
  line-height: 80px;
  left: 94%;
  top: 50%;
  margin: -40px 0 0 -40px;
  z-index: 500;
  text-align: center;
  color: #fff;
}

.course-card article .thumbnail .overlay .overlay-inside-left {
  position: absolute;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: none;
  height: 80px;
  width: 100px;
  line-height: 80px;
  right: 79%;
  top: 50%;
  margin: -40px 0 0 -40px;
  z-index: 500;
  text-align: center;
  color: #fff;
}

.progress-icon {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-completed {
  background-image: url(/images/icons/complete.svg);
  margin-left: auto;
  margin-right: auto;
}

.icon-progress {
  background-image: url(/images/icons/in_progress.svg);
  margin-left: auto;
  margin-right: auto;
}

.pro-icon{
  display: block;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  }



.course-card-content {
  padding: 5px 8px;
  min-height: 86px;
}


.course-card article .card-footer {

  padding-left:6px;
  padding-right:6px;
}


.course-calendar {
  color: #707070;
  font-size: 6px;
}

.course-calendar img {
  width: 15px;
}

.card-span-icon {
  float: right;
  margin-right: 10px;
}


.course-card article .course-card-content p.title .title-span{
width:72%

}

.course-card article .course-card-content p.title .title-calendar{
  width: 28%;
  display: flex;
  font-size:14px;
}


/**sessions styling**/
.session-card {
  padding: 0 0.5px 20px;
  height: 100%;
}

.session-card article {
  min-height: 342px;
  max-height: 342px;
}

.session-card article {
  background: #fff 0 0 no-repeat padding-box;
   box-shadow: 4px 4px 8px #0000004d; 
  border: 1px solid #EBEBEB;
}

.session-card article .thumbnail {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  height: auto;
}

.session-card article .thumbnail img {
  min-width: 280px;
  min-height: 200px;
  width: -webkit-fill-available;
  height: auto;
  object-fit: fill;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}
.session-card article .thumbnail .overlay {
  position: absolute;
  width: 100%;
  height: unset;
  top: 30%;
  left: 0;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.session-card article .thumbnail .overlay .overlay-inside-right {
  position: absolute;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: none;
  height: 80px;
  width: 80px;
  line-height: 80px;
  left: 94%;
  top: 50%;
  margin: -40px 0 0 -40px;
  z-index: 500;
  text-align: center;
  color: #fff;
}

.session-card-content {
  padding: 5px 10px;
  min-height: 86px;
}


.session-card article .card-footer {

  padding-left:6px;
  padding-right:6px;
}
.session-card-calendar {
  display: block;
  margin-top:20px;
}

.session-calendar {
  font-size: 13px;
}
.session-time {
  font-size: 13px;
  float: right;
}

.session-calendar img {
  width: 15px;
}


  

.text-purple__light {
  color:#757CCB;
}






.navbar-toggler{
  border:none;
}

.breadcrumb {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
}
.breadcrumb {
  margin-top: 20px;
  background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.2rem;
}

.courses-page {
  min-height: inherit;
}
.detailed-tree {
  text-align: center;
  margin: 1.5%;
}
.course-tabs li.nav-item {
  padding: 0 0.8rem;
}
.modal-backdrop.show{
 display:none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-lg, .modal-xl {
  max-width: 500px;
}
.modal .message-modal {
  text-align: center;
}
.modal .error-modal {
  text-align: center;
}
.modal-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.6;
}
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.margin-kidogo {
  position: absolute;
  right: 0;
  top: 20%;
}

.enrolled-card .card-body{
  padding: 0;
}

.preview-img{
  height: 89% !important;
  width: 100%;
}

.responsive-rectangle {
  width: 100%;
  max-width: 450px;
  display: flex;
  text-align: center;
  max-height: 200px;
}

.responsive-rectangle .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.auth-form{
  width:58%;
}

.auth-company{
  padding: 0.6rem;
  text-align:center;
  font-size: 1rem;
}

.innerstats{
  text-align: center;
}
.course-category-tab .nav-item{
 padding: 20px 40px;
 padding-bottom:0;
}
.course-category-tab .nav-item.first-nav-item{
  padding-left:0;
}

.my_community img{
  width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: auto;
    background-size: cover;
}
.our-progress-tab .nav-item{
  padding: 20px 60px;
  padding-bottom:0;
 }
 .our-progress-tab .nav-item.first-nav-item{
   padding-left:0;
 }
 .branch-filter{
  border:none;
 }
 
 .branch-filter .form-control{
   padding:12px;
   border-radius: 0;
 }
 .community-card-content.progress-map{
  color: #015488;
 }
 .community-card-content.progress-map h2{
  color: #015488;
  font-weight: 900;
 }
 .connect-icon {
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
 .community-countries {
  color: #015488;
  font-weight: bolder;
  border:1px solid #015488;
  padding: 10px 15px;
}
.icon-countries {
  background-image: url(/images/icons/location-icon-connect.svg);
  margin-left: auto;
  margin-right: auto;
}
.status-numbers {
  display: block;
  font-size: 30px;
  font-weight: 600;
}
.community-partcipants {
  color: #015488;
  font-weight: bolder;
  border:1px solid #015488;
  padding: 10px 15px;
}
.icon-participants {
  background-image: url(/images/icons/partcipants-icon-connect.svg);
  margin-left: auto;
  margin-right: auto;
}
.community-certified {
  color: #015488;
  font-weight: bolder;
  border:1px solid #015488;
  padding: 10px 15px;
  min-height:116px;
}
.icon-participants-certified {
  background-image: url(/images/icons/partcipants-icon-connect.svg);
  margin-left: auto;
  margin-right: auto;
}
.community-female {
  color: #015488;
  font-weight: bolder;
  border:1px solid #015488;
  padding: 10px 15px;
}
.community-male {
  color: #015488;
  font-weight: bolder;
  border:1px solid #015488;
  padding: 10px 15px;
}
.branch-icon-size {
  font-size: 2.5rem !important;
}
#map {
  min-width: 600px;
  min-height: auto;
  width: 842px;
  height: 721px;
}
.profile-details-form .form-group{
  padding:10px 0;
}
.no-card article{
  min-height: 80px;
  max-height: 80px;
  padding-top: 20px;
}
.header-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
.notification a .badge {
  top: 20px;
  position: absolute;
  right: 10px;
}
.badge-danger {
  color: #fff;
  background-color: #e3342f;
}

.navbar-expand-md .navbar-nav .dropdown-menu.notifications-menu {
  position: absolute;
  width: auto;
}

.notifications-menu{
  left: auto;
  right: 6%;
  max-width: 500px;
  padding: 10px;
}

.notifications-menu .inner-notification{
  display: flex;
  flex-wrap: wrap;
}

.training-card hr{
  margin: 9px 0;
}

.training-stats h5{
  margin-bottom: 0.1rem;
}

.training-stats a{
 text-decoration: none;
}
.hide{
  display:none;
}
.comment-click{
  cursor: pointer;
}
.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: auto;
  background-size: cover;
}

.form-control.text-input {
  border-top: 0px;
  border-bottom: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
  outline: 0px;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  padding: 0;
  font-weight: normal;
}

.emoji-picker-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
  opacity: 0.7;
  z-index: 100;
  transition: none;
  color: black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
}

.inputImg {
  color: black;
  width: 14px;
  margin-left: 10px;
  cursor: pointer;
}
#imageInput, #fileInput, #gifInput, #replyimageInput, #replygifInput {
  display: none;
}
.feed-response{
  margin-left:5rem;
  margin-right:5rem;
}

.comment-response{
  margin-left:2rem;
  margin-right:2rem;
  margin-top: 0.5rem;
}
.highcharts-credits{
display: none !important;
}
.no-border{
  border:none !important;
}
.wrap{
  white-space:normal;
}
.more-spacing{
  margin-left:5rem !important;
  margin-right:5rem !important;
}
.more-padding{
  padding-left:5rem;
  padding-right: 5rem;
}
.accordion-item.accordion__item.faq-item {
  border: none;
}

.accordion__item {
  /* border-top: 1px solid #3081c8;
  border-bottom: 1px solid #3081c8; */
  margin-bottom: 15px;
}

.accordion-item-header {
  padding-bottom: 0;
  margin-bottom: 0;
}
.accordion__item button {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 16px 0 16px 15px;
  border: 0;
  outline: 0;
  background-color: #0d629e;
  color: #fff;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
  font-weight: 500;
}
.accordion__item-button.white-bg {
  background-color: #fff;
  color: #1824a9;
  box-shadow: 0 3px 10px rgba(0,0,0,.1607843137254902);
  padding: 10px 0 10px 30px;
  font-weight: 600;
}

.faq-item .accordion__item-body {
  padding-left: 30px;
  margin-top: 15px;
}

.faq-item .accordion__item-body img{
  width: -webkit-fill-available;
}
.accordion-button::after{
  background-image: none;
}
.accordion .accordion-header .accordion-button::after{
  background-image: none;
}
.accordion .accordion-header .accordion-button.collapsed::after {
  content: "\f067";
}
.accordion .accordion-header .accordion-button::after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
  margin-right: 15px;
}
.small-padding{
  padding-left:2px;
  padding-right:2px;
}
.community-accepts{
min-width:300px;
}
.training-center{
margin-left:25px;
}
.no-border-right{
  border-right:none;
}
.completed-table th{
  font-size:16px !important;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
  opacity: 1;
  padding:0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.support-icon {
  position: absolute;
  color: #fff;
  background-image: url(/images/icons/support.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px !important;
  background-size: 100% 100%;
}

.c_categories-tabs {
  overflow: auto;
  
}

.c_category-tabs {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.course-card.other-course-card.inactive {
  opacity:0.8;
  pointer-events: none;
  cursor: default;
}

.course-card.other-course-card article .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease-in-out;
  opacity: 0.3;
  
}

.course-card.other-course-card article .overlay .overlay-inside {
  position: absolute;
  border-radius: 50px;
  margin: 100px 0 0 140px;
  text-align: center;
 
}

.course-card.other-course-card article .overlay:hover {
  opacity: 0.6;
}

.course-card.other-course-card article .overlay:hover .overlay-inside {
  -webkit-animation: avia_pop_small 0.5s 1
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: avia_pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2000;
}
#carouselExampleIndicators .carousel-inner .carousel-item img{
  height: 450px;
    width: 100%;
}
.carousel-caption {
  position: absolute;
   right: unset; 
  top: 30%;
  left: 8%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.carousel-caption {
  font-size:2.2rem;
}
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.home_signin_button{
  position: fixed;
    bottom: 17%;
    right: 37%;
    padding: 0.3rem 2rem !important;
}
.tour-modal{
  max-width: 800px;
}
body .uwy.userway_p5 .uai{

  bottom: 120px !important;
  left: 24px !important;
}
@media (max-width:1540px) {

  .jarallax{
    height: 250px;
  }

  .login-center{
    position: absolute;
    width: 50%;
    margin: unset;
  }

  .course-card article .course-card-content p.title .title-span{
    width:69%
    
    }

    .course-card article .course-card-content p.title .title-calendar {
      width: 31%;
      display: flex;
      font-size: 13px;
  }

  .course-card article .thumbnail .overlay .overlay-inside-left {
    position: absolute;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: none;
    height: 80px;
    width: 100px;
    line-height: 80px;
    right: 73%;
    top: 50%;
    margin: -40px 0 0 -40px;
    z-index: 500;
    text-align: center;
    color: #fff;
}
.login-center h1{
  color: #2d3e97;
  font-size: 54px;
  text-align: center;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.course-category-tab .nav-item {
  padding: 20px 25px;
  padding-bottom: 0;
}

.course-card.other-course-card article .overlay .overlay-inside {
  position: absolute;
  border-radius: 50px;
  margin: 100px 0 0 100px;
  text-align: center;
 
}

.carousel-caption {
  position: absolute;
   right: unset; 
  top: 30%;
  left: 4%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

}

@media(max-width:1280px){

  .login-center h1{
    color: #2d3e97;
    font-size: 59px;
    text-align: center;
    margin-bottom: 0.1rem;
    font-weight: 600;
  }
  .login-center p {
    font-size: 26px;
    text-align: center;
    margin-bottom: 0.1rem;
}
.course-category-tab .nav-item {
  padding: 20px 25px;
  padding-bottom: 0;
}
#map {
  min-width: 530px;
  min-height: auto;
  width: 530px;
  height: 500px;
}

hr {
  margin: 0.5rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.responsive-rectangle {
  width: 100%;
  max-width: 450px;
  display: flex;
  text-align: center;
  max-height: 200px;
  height: 100%;
}
.feed-response {
  margin-left: 2rem;
  margin-right: 2rem;
}
.more-spacing{
  margin-left:unset !important;
  margin-right:unset !important;
}
.more-padding{
  padding-left:unset;
  padding-right: unset;
}
.home-banner .banner-section-text {
  margin-top: 6rem;
  padding: 0;
  padding-left: 8rem;
  width: 55%;
}

.course-card.other-course-card article .overlay .overlay-inside {
  position: absolute;
  border-radius: 50px;
  margin: 100px 0 0 90px;
  text-align: center;
 
}
}

@media(max-width:980px){
  .btn-signin-google {
    --bs-btn-border-radius: 0rem;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 12px rgb(0 0 0 / 25%);
    color: #1824a9;
    padding: 0.5rem 0.2rem 0.1rem;
    text-align: left;
    width: inherit;
    word-wrap: break-word;
}
}

@media (max-width:840px) {

.course-card article .course-card-content p.title .title-calendar {
  width: 29%;
  display: flex;
  font-size: 13px;
}
.margin-kidogo {
  position: absolute;
  right: 0;
  top: 27%;
}
.scroll-tabs {
  overflow: auto;
  box-shadow: 0 3px 6px #00000029;
}
.enrolled-tabs{
  display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}
.course-tabs li.nav-item {
  padding: 1rem 0.5rem ;
}
.nav-link {
  display: block;
  padding: 0.725rem;
  padding-right: 0.725rem;
  padding-left: 0.725rem;
  font-size: 13px;
}
.enrolled-card .card-body {
  padding: 0;
  margin-bottom: 10px;
}
.responsive-rectangle {
  width: 100%;
  max-width: 100%;
  display: flex;
  text-align: center;
  max-height: 150px;
  justify-content: center;
}
.innerstats{
  text-align: left;
}
.innerstats h5{
 font-size:14px;
}
.feed-response {
  margin-left: 10px;
  margin-right: 15px;
}
.comment-response {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 0.5rem;
}
#carouselExampleIndicators .carousel-inner .carousel-item img{
  height: unset;
    width: 100%;
}
.carousel-caption {
  color: #fff;
  left: 10%;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  position: absolute;
  right: unset;
  text-align: center;
  top: 0;
  font-size: 1.8rem;
}
body .uwy.userway_p5 .uai {
  bottom: 47px!important;
  left: 8px!important;
}
}

@media(max-width:768px){
  #navbarSupportedContent li.nav-item {
    padding: 0rem 0.55rem;
  }
  .profile-menu {
    max-width: 230px;
    margin-top: 10px;
    padding: 0;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 30%);
    border-radius: 0 !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: 4px solid #282828;
     right: 0 !important; 
    left: 0 !important;
}
.our-progress-tab .nav-item {
  padding: 0px 5px 0px 5px;
  padding-bottom: 0;
}

#map {
  min-width: 430px;
  min-height: auto;
  width: 430px;
  height: 400px;
}
.signin-google-icon{
  margin-left: 26%;
}
.signin-microsoft-icon{
  margin-left: 26%;
}
.course-card article .thumbnail .overlay .overlay-inside-left {
  position: absolute;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: none;
  height: 80px;
  width: 100px;
  line-height: 80px;
  right: 70%;
  top: 50%;
  margin: -40px 0 0 -40px;
  z-index: 500;
  text-align: center;
  color: #fff;
}
#carouselExampleIndicators .carousel-inner .carousel-item img{
  height: 154px;
    width: 100%;
}

  .carousel-caption {
    color: #fff;
    font-size: 1.4rem;
    left: 4%; 
    padding-bottom: 0;
    padding-top:0 ;
    position: absolute;
    right: unset;
    text-align: center;
    top: 0;
}
}

@media (max-width:540px){
  .margin-kidogo {
    position: absolute;
    right: 0;
    top: 27%;
}
.course-card article .thumbnail .overlay .overlay-inside-left {
  position: absolute;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: none;
  height: 80px;
  width: 100px;
  line-height: 80px;
  right: 69%;
  top: 50%;
  margin: -40px 0 0 -40px;
  z-index: 500;
  text-align: center;
  color: #fff;
}
.signin-icon {
  display: block;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.options-center .other-options{
  text-align: center;
  margin-top: 1rem;
  margin-bottom:0;
}
.signin-button-icon.signin-google-icon{
  margin-left: 0;
}
.signin-button-icon.signin-microsoft-icon{
  margin-left: 0;
}
.responsive-rectangle {
  width: 100%;
  max-width: 450px;
  display: flex;
  text-align: center;
  max-height: 150px;
}

body .uwy.userway_p5 .uai {
    bottom: 10px!important;
    left: 8px!important;
}
}

@media (max-width:480px){
  .margin-kidogo {
    position: absolute;
    right: 0;
    top:23%;
}
.home-banner{
  background-position: unset !important;
}
}

@media (max-width:390px){
  .margin-kidogo {
    position: absolute;
    right: 0;
    top:24%;
}

}

@media (max-width:320px){
  .margin-kidogo {
    position: absolute;
    right: 0;
    top:43%;
}
}


