// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary_logo: '../../../public/assets/front/images/logo.png';

$courses_banner: '../../../public/assets/front/images/backgrounds/Courses_Background.png';
$live_sessions_banner: '../../../public/assets/front/images/backgrounds/Live_Sessions_Background.png';
$training_calendar_banner: '../../../public/assets/front/images/backgrounds/Training_Calendar_Background.png';
$our_progress_banner: '../../../public/assets/front/images/backgrounds/Our_Progress_Background.png';
$enrolled_banner: '../../../public/assets/front/images/backgrounds/My_Enrolled_Modules_Background.png';
$community_banner: '../../../public/assets/front/images/backgrounds/My_Community_Background.png';
$training_feed: '../../../public/assets/front/images/backgrounds/Training_Feed_Background.png';
$myprogress_banner: '../../../public/assets/front/images/backgrounds/My_Compulsory_Modules_Background.png';


$default_background:#ffffff;
$default_color: #000000;
$default_color_white: #ffffff;

$default_main_height: 84vh;
$default_page_height: 79vh;

$secondary_page_height: 66vh;


$primary_color: #015488;
$secondary_color: #000000;
$tertiary_color: #1824A9;
$footer_color: #1824A9;

$primary_text_color: #015488;
$secondary_text_color: #ffffff;
$primary_heading_color: #000000;
$secondary_heading_color: #000000;
$menu_color:#015488;
$menu_color_active:#015488;

$button_primary_color: #015488;
$button_secondary_color: #ffffff;
$button_tertiary_color: #ffffff;
$button_extra_color: #ffffff;

$light_background_color: #CEF0F4;
$dark_background_color: #1924A8;
$additional_color: #ffffff;

$opacity: 0.3;