a {
  color: $primary_heading_color;
}

.logo-container {
  display: block;
  width: 300px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  background-image: url($primary_logo);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sticky-top {
  min-height: 92px;
  max-height: 92px;
}

.title{
  color:$primary_color;
  font-weight: bolder;
}

.table-title{
  color:$primary_color;
  font-weight: bolder;
  font-size: 17px;
}

.sentence{
  color:$primary_color;
  font-size:16px;
}

.navbar-light .navbar-nav .nav-link {
  color: #282828;
  font-weight: normal;
}



.profile-dropdown {
  background: $primary_color;
  text-align: right;
  width: min-content;
  padding: 1.1rem 0.55rem !important;
}

.profile-dropdown #navbarDropdown {
  color: $default_color_white;
}

.navbar-light .navbar-nav .nav-link {
  color: $menu_color;
  font-weight: normal;
}

.navbar-light .navbar-nav .nav-link.active {
  color: $menu_color_active;
  font-weight: bold;
}


footer {
  background-color: $footer_color;
  color: $secondary_text_color;
  padding: 10px 0;
}

footer ul {

  list-style: none;
}

footer ul li small {
  color: $secondary_text_color;
}

footer ul li a {
  color: $secondary_text_color;
}

footer ul li a:hover {
  color: $secondary_text_color;
}


.btn.btn-overall {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  padding: 1.2% 5%;
  width: auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0 5px;
  flex-grow: 1;
  font-size: 16px;
}

.btn-overall.btn_solid_primary {
  background: $button_primary_color;
  border: 2px solid $button_primary_color;
  color: #ffff;
  padding: 0.3rem 1rem !important;
  border-radius: 0 !important;
}

.btn-overall.btn_border_primary {
  background: $default_background;
  border: 2px solid $button_primary_color;
  color: $button_primary_color;
  padding: 0.3rem 1rem !important;
  border-radius: 0 !important;
}


.btn-overall.btn_solid_secondary {
  background: $button_secondary_color;
  border: 2px solid $button_secondary_color;
  color: $secondary_text_color;
  padding: 0.3rem 1rem !important;

  border-radius: 0 !important;
}

.btn-overall.btn_border_secondary {
  background: $default_background;
  border: 2px solid $button_secondary_color;
  color: $button_secondary_color;
  padding: 0.3rem 1rem !important;
  border-radius: 0 !important;
}

.btn-overall.btn_solid_tertiary {
  background: $button_tachiary_color;
  border: 2px solid $button_tachiary_color;
  color: $secondary_text_color;
  padding: 0.3rem 1rem !important;

  border-radius: 0 !important;
}

.btn-overall.btn_border_tertiary {
  background: $default_background;
  border: 2px solid $button_tachiary_color;
  color: $button_tachiary_color;
  padding: 0.3rem 1rem !important;

  border-radius: 0 !important;
}


.btn-overall.btn_solid_additional {
  background: $additional_color;
  border: 2px solid $additional_color;
  color: $secondary_text_color;
  padding: 0.3rem 1rem !important;

  border-radius: 0 !important;
}

.btn-overall.btn_border_additional {
  background: $default_background;
  border: 2px solid $additional_color;
  color: $additional_color;
  padding: 0.3rem 1rem !important;

  border-radius: 0 !important;
}



.form-login .btn-spacing {
  margin-right: 9%;
}


.course_banner {
  background-image: url($courses_banner);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.sessions_banner {
  background-image: url($live_sessions_banner);
  background-position: center;
}

.training_calendar_banner {
  background-image: url($training_calendar_banner);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.live_sessions_banner {
  background-image: url($live_sessions_banner);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.our_progress_banner {
  background-image: url($our_progress_banner);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.enrolled_banner {
  background-image: url($enrolled_banner);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.community_banner {
  background-image: url($community_banner);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.training_feed {
  background-image: url($training_feed);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-position: center;
}

.myprogress_banner {
  background-image: url($myprogress_banner);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}



.jarallax .content .wrap h1 {
  color: $secondary_text_color;
  font-weight: bold;
  padding-top: 8%;
  width: 45%;
}

.course-filter .btn-overall {
  padding: 0.6rem 1rem !important;
  height: 46px;
}

.line-header {
  color: $primary_heading_color;
  font-weight: bold;
  font-size: 2.5rem;
}

.line-header:before {
  content: "";
  position: absolute;
  margin-top: 2.5%;
  height: 1px;
  width: 4%;
 // border-bottom: 6px solid $primary_color;
}

.course-card article .course-card-content p.title {
  min-height: unset;
  margin-bottom: 0;
  color: $primary_heading_color;
  font-weight: 600;
  display: flex;
  font-weight: 900;
  font-size: 18px;
}

.course-card article .course-card-content p.title a {
  color: $primary_heading_color;
  font-weight: 600;
  display: flex;
  font-weight: 900;
  font-size: 16px;
  text-decoration: none;
}

.course-card article .course-card-content p.title a:hover {
  color: $secondary_color;
  font-weight: 600;
  display: flex;
  font-weight: 900;
  font-size: 16px;
  text-decoration: none;
}

.live-sessions-card article {
  min-height: auto;
  max-height: 436px;
}



.icon-pro {
  background-image: url($mandatory_svg);
  margin-left: auto;
  margin-right: auto;
}

.icon-hr-recommended {
  background-image: url($hr_recommended_svg);
  margin-left: auto;
  margin-right: auto;
}

.icon-clock {
  background-image: url($clock_svg);
  margin-left: auto;
  width: 20px;
  height: 20px;
}

.options-center {
  position: absolute;
  width: 50%;
  margin: inherit;
}

.options-center h1 {
  color: $primary_color;
  font-size: 43px;
  text-align: center;
  margin-bottom: 0.1rem;
  font-weight: 600;
}

.options-center p {
  color: $primary_color;
  text-align: center;
}


.breadcrumb-item a {
  color: $secondary_text_color;
  text-decoration: none;
}

.breadcrumb-item.active a {
  color: $secondary_text_color;
  text-decoration: none;
}

.detailed-tree .start {
  color: $primary_color;
  text-align: center;
}

.detailed-tree .span-space {
  color: $primary_color;
  font-size: 16px;
}

.course-tabs a {
  color: $primary_color;
  padding: 11px 40px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background: $primary_color 0 0 no-repeat padding-box;
  box-shadow: 4px 4px 8px #0000004d;
  opacity: 1;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-weight: bolder;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $default_background;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.2);
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  outline: 0;
  top: 0;
}

.message-modal .modal-header .modal-title {
  color: $primary_color;
  font-weight: 700;
  width: 100%;
  font-size: 22px;
}

.message-modal .modal-body {
  color: $primary_color;
  font-size: 16px;
}

.error-modal .modal-header .modal-title {
  color: $primary_color;
  font-weight: 700;
  width: 100%;
  font-size: 22px;
}

.error-modal .modal-body {
  color: $primary_color;
  font-size: 16px;
}

.margin-kidogo .kidogo-progress {
  background-color: $default_background;
  color: $primary_color;
  padding: 4px;
  font-size: 13px;
  padding-left: 10px;
  margin-top: 21px;

}

.margin-kidogo .keep-up {
  color: $secondary_text_color;
  padding-top: 20px;
  font-size: 13px
}

.margin-kidogo .keep-up i {
  color: $secondary_text_color;
}

.vue-simple-progress {
  background-color: $default_background !important;
  border: 1px solid $default_background;
  z-index: 1 !important;
}

.vue-simple-progress-bar {
  background-color: $primary_color !important;
  border: 1px solid $primary_color;
}

.enrolled-card {
  margin-bottom: 10px;
  border-radius: 0;
  border: 1px solid $primary_color
}

.enrolled-card-info .title a {
  color: $primary_color;
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
}

.enrolled-card-info .sub-title {
  color: $primary_color;
  font-size: 13px;

}

.icon-calendar {
  background-image: url($calendar_svg);
  margin-left: auto;
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-tick {
  background-image: url($tick_svg);
  margin-left: auto;
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}



.innerstats span {
  margin-top: -5px;
  color: $primary_color;
  font-weight: lighter;
  font-size: 14px;

}

.stats p {
  color: $primary_color;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.course-category-tab .nav-item a {
  color: $primary_text_color;
  text-decoration: none;
  font-size: 20px;
}

.course-category-tab .nav-item a:hover {
  color: $primary_text_color;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.course-category-tab .nav-item a.active {
  color: $primary_text_color;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}


.session-panel .nav-tabs li {
  width: 33.33%;
}

.session-panel .nav-tabs a {
  font-size: 20px;
  color: $primary_color;
}
.accordion__item-button.white-bg{
  color: $primary_color;
  background-color: #fff;
  
}

.session-panel .nav-tabs li.active a {
  font-size: 20px;
  font-weight: 600;
  color: $secondary_color;
}
.session-panel-title{
  color: $primary_color;
  font-weight: bold;
}

.session-panel .nav-tabs .active a {

  font-weight: 600;
  color: $secondary_color;
  text-decoration: none;

}

.session-calendar {
  color: $primary_color;
  font-weight: 400;

}

.session-calendar-content {
  color: $primary_color;
  font-weight: 400;


}
 .session-calendar_title{
  color: $primary_color;
  font-size: 15px;
 }

.progress-header {
  color: $primary_color;
  font-weight: bold;
  font-size: 24px;
}

.compul li {
  color: $primary_color;
  padding: 7px 0;
  border-bottom: 1px solid $primary_color;
  width: 50%;
}

.completed-table {
  width: 60%;
  border-color: $primary_color;
}

.completed-table .title a {
  color: $primary_color;
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
}

.completed-table .sub-title {
  color: $primary_color;
  font-size: 13px;

}

.completed-table .complete-stats {
  color: $primary_color;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.card.my_community{
  border-radius:0;
  border:1px solid $primary_color;
  min-height:190px;
}

.community-details .title{
  font-size:18px;
  font-weight:bolder;
  color:$primary_color;
}

.community-details .sub-title{
  font-size: 12px;
  color:$primary_color;
}

.our-progress-tab .nav-item a {
  color: $primary_color;
  text-decoration: none;
  font-size: 20px;
}

.our-progress-tab .nav-item a:hover {
  color: $secondary_color;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.our-progress-tab .nav-item a.active {
  color: $secondary_color;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.branch-filter .btn-overall {
  padding: 0.6rem 1rem !important;
  height: 46px;
}

.course-card.branch-card article {
  min-height: 180px;
  max-height: 180px;
  box-shadow: none;
  border:1px solid $primary_color;
}
.course-card.branch-card h4 {
  color: $primary_color;
  font-size: 16px;
  font-weight: bold;
}

.course-card.branch-card{
  color:$primary_color;
}

.icon-user {
  background-image: url($user_svg);
  margin-left: auto;
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-details-form .text-purple{
  color:$primary_color;
}

.evaluation-text{
  padding-top:20px;
  color:$primary_color;
  font-size:16px;
}

.icon-notifications {
  background-image: url($notification_bell_svg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 30px;
  height: 30px;
}

.title-role{
  color:$secondary_heading_color;
  font-weight: bold;

}

.training-card .innerstats{
  text-align: left;
}

.training-card .innerstats span {
  margin-top: -5px;
  color: $secondary_heading_color;
  font-weight: lighter;
  font-size: 12px;

}

.training-card .stats p {
  color: $secondary_heading_color;
  font-weight: bolder;
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
}

.training-card .enrolled-card-info .title{
  font-size:16px;
  color: $primary_color;
}

.training-card .enrolled-card-info .title.name{
  font-size:16px;
  color: $primary_color;
}
.training-card .enrolled-card-info .title a{
  font-size:16px;
  color: $primary_color;
}

.icon-rocket {
  background-image: url($rocket_svg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  display: inline-flex;
}

.icon-not-finished-trophy {
  background-image: url($not_finished_trophy_svg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  display: inline-flex;
}

.icon-finished-trophy {
  background-image: url($finished_trophy_svg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  display: inline-flex;
}

.icon-like {
  background-image: url($like_svg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  background-repeat: no-repeat;
}

.icon-comment {
  background-image: url($comment_svg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  display: inline-flex;
}


.training-icon {
width: 20px;
height: 20px;
}

.training-card .stats p.training-status{
  color: $secondary_color ;
}

.training-card .stats p.training-completed{
  color:$primary_color;
}

.user-response{
  background:$dark_background_color;
  border-radius: 10px;
  margin-right:3rem;
  color:$secondary_text_color;
  padding:10px 20px;
}

.follow-response{
  background:$light_background_color;
  border-radius: 10px;
  margin-right:3rem;
  color:$primary_color;
  padding:10px 20px;
}

.nav-link:hover, .nav-link:focus{
  color: $secondary_color;
}

.no-courses{
  color: $secondary_color;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.btn-overall.btn_solid_primary.community_accept {
  background: none;
  border: none;
  color: $primary_color;
  padding: 0!important;
  border-radius: 0 !important;
  font-size: 14px;
  cursor:pointer;
}

.btn-overall.btn_solid_secondary.community_decline {
  background: none;
  border: none;
  color: $secondary_color;
  padding: 0!important;
  border-radius: 0 !important;
  font-size: 14px;
  cursor:pointer;
}
.community_following{
  text-align: center;
font-size: 14px;
margin-bottom: 0;
color:$primary_color;
font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: none;
  opacity: 1 !important;
  padding: 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.accordion__item-button.white-bg{
   background-color: #fff;
    color: $primary_color;
    padding: 10px 0 10px 30px;
    font-weight: 600;
}

.primary_text{
  color:$primary_text_color;
}

.company-info h1 {
  color: $primary_heading_color;
  font-weight: bold;
  font-size: 1.7rem;
}
.company-info h2 {
  color: $primary_heading_color;
  font-weight: bold;
  font-size: 1.4rem;
}
.carousel-item-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,$opacity);
  z-index: 1;
  cursor: pointer;
}

.btn-support{
  bottom: 60px;
  right: 10px;
    opacity: 1;
    visibility: visible;
    color: #fff;
    font-size: 14px;
    padding: 0 1.5%;
    display: inline-block;
    text-align: center;
    position: fixed !important;
    transition: background-color .3s, opacity .5s, visibility .5s;
    z-index: 1000;
}

.btn-overall.btn_solid_home_signin {
  background: $button_secondary_color;
  border: 2px solid $button_secondary_color;
  color: $secondary_text_color;
  padding: 0.3rem 2rem !important;
  position:fixed !important;
  bottom: 17%;
  right: 37%;
  border-radius: 0 !important;
}
#tour_videos {
  bottom: 60px;
  left: 30px;
  opacity: 1;
  visibility: visible;
  color: #fff;
  font-size: 14px;
  padding: .2% 1.5%;
}
#tour_videos {
  display: inline-block;
  background-color: $button_secondary_color;
  text-align: center;
  position: fixed;
  transition: background-color .3s, opacity .5s, visibility .5s;
  z-index: 1000;
  cursor: pointer;
}

#tour_videos::before {

  content: "\f04b";
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
  color: #fff;
  padding-right: 5px;

}

video#bgvid {
  width: 100%;
  float: left;
}
@media (max-width:1540px) {

  .btn-signin-google p {
    display: inline-flex;
    margin-bottom: 0;
    text-align: center;
    position: absolute;
    margin-left: 35px;
    font-size: 18px;
  }

  .course_banner {
    background-image: url($courses_banner);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  

  .sessions_banner {
    background-image: url($live_sessions_banner);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .training_calendar_banner {
    background-image: url($training_calendar_banner);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .our_progress_banner {
    background-image: url($our_progress_banner);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .btn-overall.btn_border_secondary.btn_solid_secondary_special {
    padding: 0.3rem 0.3rem !important;
  }

  .line-header:before {
    content: "";
    position: absolute;
    margin-top: 3%;
    height: 1px;
    width: 4%;
   // border-bottom: 6px solid $primary_color;
  }

  .course-card article .course-card-content p.title a {
    color: $primary_heading_color;
    font-weight: 600;
    display: flex;
    font-weight: 900;
    font-size: 15px;
    text-decoration: none;
  }
  
  .course-card article .course-card-content p.title a:hover {
    color: $secondary_color;
    font-weight: 600;
    display: flex;
    font-weight: 900;
    font-size: 15px;
    text-decoration: none;
  }
  .icon-clock {
    background-image: url($clock_svg);
    margin-left: auto;
    width: 18px;
    height: 18px;
  }
}

@media(max-width:1517px){
  .btn-overall.btn_solid_primary {
    background: $button_primary_color;
    border: 2px solid $button_primary_color;
    color: #ffff;
    padding: 0.3rem 0.3rem !important;
    border-radius: 0 !important;
  }
  
  .btn-overall.btn_border_primary {
    background: $default_background;
    border: 2px solid $button_primary_color;
    color: $button_primary_color;
    padding: 0.3rem 0.3rem !important;
    border-radius: 0 !important;
  }
  
  
  .btn-overall.btn_solid_secondary {
    background: $button_secondary_color;
    border: 2px solid $button_secondary_color;
    color: $secondary_text_color;
    padding: 0.3rem 0.3rem !important;
  
    border-radius: 0 !important;
  }
  
  .btn-overall.btn_border_secondary {
    background: $default_background;
    border: 2px solid $button_secondary_color;
    color: $button_secondary_color;
    padding: 0.3rem 0.3rem !important;
    border-radius: 0 !important;
  }
  
  .btn-overall.btn_solid_tertiary {
    background: $button_tachiary_color;
    border: 2px solid $button_tachiary_color;
    color: $secondary_text_color;
    padding: 0.3rem 0.3rem !important;
  
    border-radius: 0 !important;
  }
  
  .btn-overall.btn_border_tertiary {
    background: $default_background;
    border: 2px solid $button_tachiary_color;
    color: $button_tachiary_color;
    padding: 0.3rem 0.3rem !important;
  
    border-radius: 0 !important;
  }
}

@media(min-width:1300px){
  .btn-overall.btn_solid_primary {
    background: $button_primary_color;
    border: 2px solid $button_primary_color;
    color: #ffff;
    padding: 0.3rem 0.3rem !important;
    border-radius: 0 !important;
    font-size:15px;
  }
  
  .btn-overall.btn_border_primary {
    background: $default_background;
    border: 2px solid $button_primary_color;
    color: $button_primary_color;
    padding: 0.3rem 0.3rem !important;
    border-radius: 0 !important;
    font-size:15px;
  }
  
  
  .btn-overall.btn_solid_secondary {
    background: $button_secondary_color;
    border: 2px solid $button_secondary_color;
    color: $secondary_text_color;
    padding: 0.3rem 0.3rem !important;
    font-size:15px;
    border-radius: 0 !important;
  }
  
  .btn-overall.btn_border_secondary {
    background: $default_background;
    border: 2px solid $button_secondary_color;
    color: $button_secondary_color;
    padding: 0.3rem 0.3rem !important;
    border-radius: 0 !important;
    font-size:15px;
  }
  
  .btn-overall.btn_solid_tertiary {
    background: $button_primary_color;
    border: 2px solid $button_primary_color;
    color: $secondary_text_color;
    padding: 0.3rem 0.3rem !important;
    font-size:15px;
    border-radius: 0 !important;
  }
  
  .btn-overall.btn_border_tertiary {
    background: $default_background;
    border: 2px solid $button_primary_color;
    color: $button_primary_color;
    padding: 0.3rem 0.3rem !important;
    font-size:15px;
    border-radius: 0 !important;
  }
  .course-card article .course-card-content p.title .title-calendar {
    width: 32%;
    display: flex;
    font-size: 12px;
}
}



@media(max-width:1280px){
 
  .line-header:before {
    content: "";
    position: absolute;
    margin-top: 4%;
    height: 1px;
    width: 4%;
   // border-bottom: 6px solid $primary_color;
  }

  .user-response{
    background:$dark_background_color;
    border-radius: 10px;
    margin-right:1rem;
    color:$secondary_text_color;
    padding:10px 20px;
  }

}

@media (max-width:980px) {

  .btn-signin-google p {
    display: inline-flex;
    margin-bottom: 0;
    text-align: center;
    position: absolute;
    margin-left: 5px;
    font-size: 15px;
  }
  .btn-signin-usercode p{
    font-size: 15px;
  }
}
@media(max-width:840px) {
  .logo-container {
    display: block;
    width: 300px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .jarallax {
    height: 120px;
  }

  .enrolled-jarallax {
    height: 250px;
  }

  .course_banner {
    background-image: url($courses_banner);
    background-position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .sessions_banner {
    background-image: url($live_sessions_banner);
    background-position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .training_calendar_banner {
    background-image: url($training_calendar_banner);
    background-position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .our_progress_banner {
    background-image: url($our_progress_banner);
    background-position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .line-header:before {
    content: "";
    position: absolute;
    margin-top: 8%;
    height: 1px;
    width: 11%;
   // border-bottom: 6px solid $primary_color;
  }

  .line-header {
    color: $primary_color;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .enrolled-jarallax .content .wrap h1 {
    color: #fff;
    font-weight: bold;
    padding-top: 8%;
    width: 100%;
  }

  .enrolled-jarallax .content .wrap.breadcrumb {
    margin-top: 7px;
    background-color: transparent;
  }

  .margin-kidogo .kidogo-progress {
    background-color: $default_background;
    color: $primary_color;
    padding: 4px;
    font-size: 13px;
    padding-left: 10px;
    margin-top: 21px;
    margin-left: 15px;

  }

  .vue-simple-progress {
    background-color: $default_background !important;
    border: 1px solid $default_background;
    z-index: 1 !important;
    margin-left: 15px;
  }

  .course-tabs a {
    color: $primary_color;
    padding: 5px 10px;
  }

  .enrolled-card .card-body .btn.btn-overall {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    padding: 1.2% 5%;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0 5px;
    flex-grow: 1;
    font-size: 14px;
  }


  .icon-calendar {
    background-image: url($calendar_svg);
    margin-left: auto;
    width: 20px;
    height: 20px;
    display: inline-flex;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .icon-tick {
    background-image: url($tick_svg);
    margin-left: auto;
    width: 20px;
    height: 20px;
    display: inline-flex;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-user {
    background-image: url($user_svg);
    margin-left: auto;
    width: 20px;
    height: 20px;
    display: inline-flex;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .innerstats span {
    margin-top: -5px;
    color: $primary_color;
    font-weight: lighter;
    font-size: 14px;

  }

  .stats p {
    color: $primary_color;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }

  .compul {
    padding-left: 1.2rem;
  }

  .compul li {
    color: $primary_color;
    padding: 7px 0;
    border-bottom: 1px solid $primary_color;
    width: 100%;
  }

  .completed-table {
    width: 100%;
    border-color: $primary_color;
  }

  .completed-table .title a {
    color: $primary_color;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
  }

  .completed-table .sub-title {
    color: $primary_color;
    font-size: 13px;

  }

  .completed-table .complete-stats {
    color: $primary_color;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }

  .community-jarallax {
    height: 140px;
  }

  .training-card .stats p.training-status{
    color: $secondary_color ;
  }
  .training-card .stats p {
    color: $secondary_heading_color;
    font-weight: bolder;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
  }

  .user-response{
    background:$dark_background_color;
    border-radius: 10px;
    margin-right:0;
    color:$secondary_text_color;
    padding:10px 20px;
  }
  
  .follow-response{
    background:$light_background_color;
    border-radius: 10px;
    margin-right:0;
    color:$primary_color;
    padding:10px 20px;
  }

  .training_feed {
    background-image: url($training_feed);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-position: initial;
  }

  .btn.btn-overall {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    padding: 1.2% 5%;
    width: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0 5px;
    flex-grow: 1;
    font-size: 13px;
  }
  
  
}

@media(max-width:780px) {
  .sticky-top {
    min-height: 92px;
    max-height: unset;
  }

  .navbar .container-fluid.ps-5 {
    padding-left: 0 !important;
  }

  .home-banner .banner-section-text {
    margin-top: 2rem;
    padding: 0;
    padding-left: 0;
    width: 100%;
  }

  .home-banner .banner-section-text h1,
  .home-banner .banner-section-text .h1 {
    font-size: 52px;
    font-weight: normal;
  }

  .home-banner .banner-section-text p {
    font-size: 52px;
    font-weight: bold;
  }

  .options-center {
    position: absolute;
    width: 100%;
    margin: inherit;
  }

  .logo-container {
    display: block;
    width: 240px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:10px;
  }
  .jarallax .content .wrap h1 {
    color: $secondary_text_color;
    font-weight: bold;
    padding-top: 8%;
    width: 90%;
  }
  .course-category-tab .nav-item a {
    color: $primary_text_color;
    text-decoration: none;
    font-size: 14px;
  }
  
  .course-category-tab .nav-item a:hover {
    color: $primary_text_color;
    text-decoration: none;
    font-weight: bold;
    font-size:  14px;
  }
  
  .course-category-tab .nav-item a.active {
    color: $primary_text_color;
    text-decoration: none;
    font-weight: bold;
    font-size:  14px;
  }

  .btn-support {
    bottom: 10px;
    right: 10px;
    opacity: 1;
    visibility: visible;
    color: #fff;
    font-size: 14px;
    padding: 0 1.5%;
    display: inline-block;
    text-align: center;
    position: fixed !important;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    z-index: 1000;
}
  
}

@media(max-width:540px){
  .btn.btn-overall {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    padding: 1.2% 5%;
    width: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0 5px;
    flex-grow: 1;
    font-size: 14px;
  }
  .our-progress-tab .nav-item a {
    color: $primary_color;
    text-decoration: none;
    font-size: 16px;
  }
  
  .our-progress-tab .nav-item a:hover {
    color: $secondary_color;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  .our-progress-tab .nav-item a.active {
    color: $secondary_color;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  .home-banner .banner-section-text {
    margin-top: 6rem;
    padding: 0;
    padding-left: 0;
    width: 100%;
}
  .home-banner .banner-section-text h1,
  .home-banner .banner-section-text .h1 {
    font-size: 42px;
    font-weight: normal;
  }

  .home-banner .banner-section-text p {
    font-size: 48px;
    font-weight: bold;
  }

  .options-center h1 {
    color: $primary_color;
    font-size: 33px;
    text-align: center;
    margin-bottom: 0.1rem;
    font-weight: 600;
  }
}

@media(max-width:320px){
  .home-banner .banner-section-text {
    margin-top: 6rem;
    padding: 0;
    padding-left: 0;
    width: 100%;
}
  .home-banner .banner-section-text h1,
  .home-banner .banner-section-text .h1 {
    font-size: 32px;
    font-weight: normal;
  }

  .home-banner .banner-section-text p {
    font-size: 34px;
    font-weight: bold;
  }
}