<template>
  <div class="action">
    <p class="price"><span>Status</span> {{ status }} </p>
    <a v-if="actionType == 'first-time'" class="continue" target="_blank" :href="action">Continue with Course</a>
    <a v-else-if="actionType=='evaluate'" class="continue" target="_blank" :href="evalaction">
      Evaluate this Session
    </a>
    <a v-else-if="actionType=='passed'" class="continue downloaded" target="_blank" :href="action">
      Download certificate
    </a>
    <a v-else-if="actionType=='failed'" class="failed" target="_blank" :href="action">Retake course</a>
    <a v-else-if="actionType=='failed-retaking'" class="failed-retaking" target="_blank" :href="action">Retake course</a>
    <a v-else-if="actionType=='passed-retaking'" class="failed-retaking" target="_blank" :href="action">Continue with Course</a>

    <div :id="'pdfcanvas' + count" class="canvas"></div>
    <img alt="Image" :id="'image1' + count" src="/images/achievements/certbadge.png" />
    <img alt="Linked File" :id="'image2' + count" src="/images/achievements/certlogo.png" />

    </div>
</template>

<style lang="scss" scoped>
.action {
display: grid;
    position: absolute;
    right: 5%;
    top: 40%;
    width: 80%;
    overflow: hidden;
  a {
    padding: 5px;
    margin-top: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
  text-decoration: none;
  }
  a.continue,a.passed-retaking{
    background: #87DADE;
    color:#015488;
  }
  a.failed, a.failed-retaking{
  background: #ffffff;
  border:1px solid #015488;
  color:#015488;
  }
  a.downloaded {
   background: #87DADE;
    border: #87DADE;
    color: #015488;
  }
  p{
    padding:5px 0!important;
    color: #fff !important;
    float: right;
    background: #015488;
    font-size: 12px;
    span{
    border-right: 1px solid;
    padding-right: 5px;
    margin-right: 5px;
    }
  }
}

.action img{
  visibility: hidden;
  height: 0;
}
.canvas{
    position: absolute;
    top: 100%;
    width: 100%;
}
</style>

<script>

export default {
  data: function() {
    return {
      passMark: 0.7,
      certid: Math.ceil(Math.random()*10)
    };
  },
  props: ["mobile", "status", "prevScore", "currentScore","action","owner","certcourse","dateissued","count", "evaluate",
    "evalaction"],
  computed: {
    actionType: function() {


      if (this.status == "Completed") {
        this.completed = true;
      }
      if (this.status == "Completed but Failed") {
        this.completed = true;
      }
      //First time
      if (this.currentScore == 0 && !this.completed) {
        return "first-time";
      }
     //Passed not Evaluated
      if (this.currentScore >= this.passMark && this.completed && this.evaluate == 0) {
        return "evaluate";
      }
      //Passed
      if (this.currentScore >= this.passMark && this.completed && this.evaluate > 0) {
        return "passed";
      }
      // Failed
      if (this.currentScore < this.passMark && this.completed) {
        return "failed";
      }
      // Failed and retaken
      if (this.prevScore < this.passMark && !this.completed) {
        return "failed-retaking";
      }
      // Passed and refreshing
      if (this.prevScore >= this.passMark && !this.completed) {
        return "passed-retaking";
      }
    }
  }
}
</script>
