<template>
  <div class="my-course row no-gutters justify-content-between margin-kidogo">
    <div class="col-7">
      <p class="kidogo-progress">
        Course Progress {{ completed }}/ {{ compulsory }} compulsory modules
        completed
      </p>
    </div>
    <div class="col-5 course-title">
      <p class="keep-up" >
        Keep it up, you’re doing great
        <i class="fa fa-fire" aria-hidden="true" ></i>
      </p>
    </div>

    <div class="col-11">
      <progress-bar
        :val="value"
        :size="size"
        :text="string"
        :text-position="position"
        :text-fg-color="color"
      ></progress-bar>
    </div>
  </div>
</template>

<style>

</style>

<script>
import Vue from 'vue/dist/vue';
import ProgressBar from "vue-simple-progress";

export default {
  components: {
    ProgressBar,
  },
  data: function () {
    return {
      more: false,
    };
  },
  props: [
    "compulsory",
    "completed",
    "size",
    "value",
    "string",
    "position",
    "color",
    "image",
    "role",
  ],
  methods: {
    toggleMore: function (e) {
      this.more = !this.more;
    },
  },
  computed: {
    actionType: function () {
      if (this.compulsory == 0) {
        return "failed";
      }
      if (this.compulsory == 1) {
        return "okay";
      }
    },
  },
};
</script>
